*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    
}
section:nth-of-type(1){
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/shoes.jpg");
    background-position: center;
    background-size: cover;

}
.herotext{
    width: 500px;    
    text-shadow:2px 2px 4px #000000;
    margin: 0;
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightgrey;

    text-align: center;
    padding: 4px;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, rgba(100, 100, 100, 0.4)
    , rgba(252, 250, 250,0.5));
    border-image-slice: 1;
    background-color: rgba(0, 0, 0, 0.15);
    transition: 1s ease;
}
section > * {
    position: relative;
    z-index: 2;
}
/* section:nth-of-type(1):after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
} */
nav{
    transition: 1s ease;
}
.bg-dark{
    background-color: rgba(0, 10, 0, 1) !important;
}
hr{
    width: 10%;
    height: 5px;
    background:darkslategray;
    margin: auto;
    border: none; 
    border-radius: 3px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) {
    .herotext{
        width: 300px;       
    }
    .herotext > h1{
        font-size: 24px;
    }
    .herotext > p{
        font-size: 18px;
    }
}
@media only screen and (min-width: 360px) {
    .herotext{
        width: 350px;       
    }
    .herotext > h1{
        font-size: 24px;
    }
    .herotext > p{
        font-size: 18px;
    }
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 400px) {
    .herotext{
        width: 395px; 
        /* border: none;       */
    }
    .herotext > h1{
        font-size: 26px;
    }
    .herotext > p{
        font-size: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .herotext{
        width: 450px; 
        /* border: none;       */
    }
    .herotext > h1{
        font-size: 30px;
    }
    .herotext > p{
        font-size: 24px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .herotext{
        width: 550px; 
        /* border: none;       */
    }
    .herotext > h1{
        font-size: 36px;
    }
    .herotext > p{
        font-size: 30px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .herotext{
        width: 600px; 
        /* border: none;       */
    }
    .herotext > h1{
        font-size: 38px;
    }
    .herotext > p{
        font-size: 32px;
    }
}