#sdfCanvas{
    width: 100%;
    background-color: brown;
    /* border: 1px solid #000000;  */
    /* background-color:#161925; */
    background-color:#131828;
}

/* #aboutme{
    display: flex;
    flex-wrap: wrap;
}

#aboutme div {
    width: 100px;
    height: 100px;
  } */